.section__cards{
    display: flex;
    justify-content: center;
}

.cards__content{   
    width: 1440px;
    height: 1381px;
    display: flex;   
    flex-direction: column;
}

.cards__contentTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-width{
    width: 285px;
}

.cards{
    width: 1400px;
    height: 1219px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 447px;
    height: 590px;
    display: flex;
    flex-direction: column;
    background-color: #F9F8F8;
    border-radius: 30px;
}

.card__content{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.card__icon{
    width: 118px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--color-blue);
    color: white;
}
.card__image{
    width: 387px;
    height: 378px;
}
.card__title{
    margin-top: 20px;
    font-family: var(--font-roboto);
    font-size: 22px;
    font-weight: 400;
    color: var(--color-blue);
}

.card__line{
    margin-top: 2px;
    border-bottom: 2px solid #D4D4D4;
}

.card__prices{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.card__price{
    font-size: 17px;
    font-family: var(--font-worksans);
    font-weight: 400;
    color: #B8B8B8;
    text-decoration: line-through;
}
.card__price::before{
    content: '\0024';
}

.card__priceNew{
    font-size: 18px;
    font-family: var(--font-worksans);
    font-weight: 700;
    color: var(--color-blue);
}
.card__priceNew::before{
    content: '\0024';
}

@media (max-width:1280px){
    .cards__content{   
        width: 1280px;
    }
    .cards{
        width: 1250px;
    }
    .card{
        width: 395px;
        height: 590px;
    }
    .card__image{
        width: 360px;
    }
}

@media (max-width:1024px){
    .cards__content{   
        width: 1024px;
    }
    .cards{
        width: 1000px;
        height: 860px;
    }
    .card{
        width: 316px;
        height: 420px;
    }
    .card__image{
        width: 280px;
        height: 270px;
    }
    .card__price{
        font-size: 14px;
    }
    .card__priceNew{
        font-size: 14px;
    }
}

@media (max-width:920px){
    .cards__content{   
        width: 920px;
        height: 1450px;
        align-items: center;
    }
    .cards{
        width: 700px;
        height: 860px;
        justify-content: center;
        
    }
    .card{
        height: 440px;
        margin-bottom: 10px;
    }
}

@media (max-width:540px){
    .cards__content{   
        width: 540px;
        height: 2800px;
        align-items: center;
    }
    .cards{
        width: 400px;
        height: 860px;
      
        
    }
    .card{
        height: 440px;
        margin-bottom: 10px;
    }
}