.ecoFriendly{
    display: flex;
    justify-content: center;
}
.ecoFriendly__content{
    width: 1440px;
    height: 704px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ecoFriendly__container{
    width: 720px;
    height: 623px;
    position: absolute;
    top: 40px;
    bottom: 40px;
    right: 60px;
    border-radius: 30px 0 0 30px;
    background-color: white;
}
.container__text{
    width: 620px;
    height: 522px;
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-width{
    width: 300px;
}
.text-size{
    font-size: 23px;
}
.descriptionText{
    font-family: var(--font-worksans);
    font-size: 18px;
    font-weight: 400;
    color: var(--color-gray);
}

@media (max-width:1280px){
    .ecoFriendly__content{
        width: 1280px;
    }
    .ecoFriendly__img{
        width: 640px;
        height: 625px;
    }
    .ecoFriendly__container{
        width: 680px;        
        right: 60px; 
    }
}

@media (max-width:1152px){
    .ecoFriendly__content{
        width: 1152px;
    }
    .ecoFriendly__image{
        height: 600px;
    }
    .ecoFriendly__img{
        width: 576px;
        height: 562px;
    }
    .ecoFriendly__container{
        width: 610px;
        height: 563px;
    }
}

@media (max-width:1024px){
    .ecoFriendly__content{
        width: 1024px;
    }
    .ecoFriendly__image{
        height: 600px;
    }
    .ecoFriendly__img{
        width: 512px;
        height: 500px;
    }
    .ecoFriendly__container{
        width: 540px;
        height: 500px;
    }
    .container__text{
        width: 620px;
        height: 370px;
    }
    .text-size{
        width: 480px;
        font-size: 20px;
    }
    .descriptionText{
        width: 480px;
        font-size: 16px;
    }
}

@media (max-width:920px){
    .ecoFriendly__content{
        width: 920px;
    }
    .ecoFriendly__image{
        height: 500px;
    }
    .ecoFriendly__img{
        width: 450px;
    }
    .ecoFriendly__container{
        width: 460px;
        height: 450px;
    }
    .container__text{
        margin-left: 40px;
        width: 420px;
        height: 370px;
    }
    .text-size{
        width: 400px;

    }
    .descriptionText{
        width: 400px;

    }
}

@media (max-width:820px){
    .ecoFriendly__content{
        width: 820px;
    }
    .ecoFriendly__image{
        display: none;
    }
    .ecoFriendly__container{
        width: 700px;
        height: 450px;
        position: relative;
        display: flex;
        justify-content: center;
        right: 0;
    }
    .container__text{
        margin-left: 40px;
        width: 700px;
        height: 370px;
    }
    .text-size{
        width: 700px;
    }
    .descriptionText{
        width: 700px;
    }
}

@media (max-width:768px){
    .ecoFriendly__content{
        width: 768px;
    }
    .ecoFriendly__container{
        width: 600px;
        height: 450px;
    }
    .container__text{
        width: 600px;
        height: 370px;
    }
    .text-size{
        width: 600px;
    }
    .descriptionText{
        width: 600px;
    }
}

@media (max-width:540px){
    .ecoFriendly__content{
        width: 540px;
        height: 350px;
    }
    .ecoFriendly__container{
        width:500px;
        height: 300px;
    }
    .container__text{
        width: 400px;
        height: 370px;
    }
    .text-size{
        width: 400px;
        font-size: 18px;
    }
    .descriptionText{
        width: 380px;
        font-size: 12px;
    }
}