.footer{
    display: flex;
    justify-content: center;
}
.footer__content{
    width: 1380px;
    height: 469px;
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}

.text-sizes{
    font-size: 30px;   
    width: 269px;
    display: flex;
    justify-content: end;
}
.footer__text{
    font-size: 18px;
    font-family: var(--font-worksans);
    font-weight: 400;
    text-align: right;
    color: var(--color-gray);
}
.footer__text-title{
    font-weight: 700;
}
.footer__contentCollumnFirst{
    width: 269px;
    height: 369px;     
}
.footer__contentText{
    height: 292px;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer__text-align{
    text-align: center;
    width: 567px;
}
.footer__contentCollumnSecond{
    width: 670px;
    height: 369px;
    border-right: 1px solid var(--color-gray);
    border-left: 1px solid var(--color-gray);
    display: flex;
    flex-direction: column;    
    align-items:center;
}
.logo-margin{
    margin-bottom: 40px;
}
.footer__contentSecondText{
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__icons{
    width: 588px;
    display: flex;
    justify-content: space-evenly;
}
.footer__iconsSize{
    width: 20px;
    height: 20px;
}
.footer__icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
}
.footer__contentCollumnThird{
    width: 335px;
    height: 369px;
    display: flex;
    flex-direction: column;
}

.text-align{
    width: 175px;
    font-size: 30px;
    margin-bottom: 20px;
}
.footer__link{
    height: 240px;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    

}
.footer__linkItem{
    font-family: var(--font-worksans);
    color: var(--color-gray);
    font-size: 18px;
}


@media (max-width:1280px){
    .footer__content{
        width: 1225px;        
        margin-top: 115px;
    }
    .footer__text{
        font-size: 16px;
    }
    .footer__contentCollumnFirst{
        width: 239px;
    }
    .text-sizes{
        
        width: 190px;
       
    }
    .footer__contentCollumnSecond{
        width: 595px;
    }
    .footer__text-align{
        width: 475px;
    }
    .footer__contentCollumnThird{
        width: 297px;
        
    }
}

@media (max-width:1024px){
    .footer__content{
        width: 980px;        
        margin-top: 90px;
        
    }
    .footer__contentCollumnFirst{
        width: 191px;
    }
    .footer__contentCollumnSecond{
        width: 475px;
    }
    .footer__contentSecondText{
        width: 470px;
    }
    .footer__icons{
        width: 470px;
    }
    .footer__contentCollumnThird{
        width: 237px;
        
    }

}

@media (max-width:920px){
    .footer__content{
        width: 625px;   
        flex-wrap: wrap;
        justify-content: center;
        height: 1200px;     
    }

    .footer__contentCollumnSecond{
        width: 475px;
        border: none;
    }


}

@media (max-width:540px){
    .footer__content{
        width: 475px; 
        margin-top: 20px; 
        height: 900px;    
    }

    .footer__contentCollumnFirst{
        width: 200px;height: 300px;
    }
    .footer__contentCollumnSecond{
        width: 475px;
        height: 200px;
    }
    .footer__contentSecondText{
        width: 475px;
        align-items: center;
    }
    .footer__icons{
        width: 370px;
    }
    .footer__contentCollumnThird{
        width: 170px;  height: 200px;
    }
    .logo-visibility{
        display: none;
    }



}