@import "reset.css";
@import "header.css";
@import "variables.css";
@import "banner.css";
@import "section__aboutUs.css";
@import "cards.css";
@import "star.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

