.produkt{
    display: flex;
    justify-content: center;
    background-color: #EFF6F1;
}

.produkt__content{
    width: 1440px;
    height: 860px;
    display: flex;
    align-items: center;
}
.product__cards{
    width: 1440px;
    height: 580px;
    display: flex;
    justify-content: space-between;
}

.produkt_card{
    width: 460px;
    height: 580px;
    background-image: url(../images/juice.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.produkt_cardTtile{
    width: 281px;
    height: 95px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.produkt_cardText{
    color: var(--color-blue);
    font-size: 25px;
    font-weight: 700;
}
.produkt_card-img{
    background-image: url(../images/food.png);
}
.produkt_card-imgnuts{
    background-image: url(../images/cookies.png);
}

@media (max-width:1280px){
    .produkt__content{
        width: 1280px;
    }
    .product__cards{
        width: 1280px;
        justify-content: space-evenly;
    }
    .produkt_card{
        width: 400px;
        background-size: 400px;
    }
}

@media (max-width:1152px){
    .produkt__content{
        width: 1152px;
    }
    .product__cards{
        width: 1152px;
        justify-content: space-evenly;
    }
    .produkt_card{
        width: 350px;
        background-size: 350px;
    }
}

@media (max-width:920px){
    .produkt__content{
        width: 920px;
        height: 500px;
    }
    .product__cards{
        width: 920px;
        height: 360px;
        justify-content: space-evenly;
    }
    .produkt_card{
        width: 290px;
        height: 360px;
        background-size: 290px;
    }
    .produkt_cardTtile{
        width: 240px;        
    }
}

@media (max-width:820px){
    .produkt__content{
        width: 820px;
        height: 900px;
    }
    .product__cards{
        width: 820px;
        height: 800px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .produkt_card{
        margin-bottom: 10px;
    }
}

@media (max-width:768px){
    .produkt__content{
        width: 650px;
    }
    .product__cards{
        width: 650px;
    }
}


@media (max-width:540px){
    .produkt__content{
        width: 450px;
        height: 1300px;
        
    }
    .product__cards{
        width: 450px;
        height: 1300px;
        justify-content: center;
    }
}