.subscribe{
    display: flex;
    justify-content: center;
}
.subscribe__content{
    width: 1380px;
    height: 320px;
    background-image: url(../images/orange_back.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe__contentText{
    width: 1240px;
    display: flex;
    justify-content: space-between;

}
.content__title{
    width: 322px;
    font-family: var(--font-roboto);
    font-size: 50px;
    color: white;
}
.content__form{
    display: flex;
    width: 567px;
    justify-content: space-between;
  
}
.content__formInput{
    width: 350px;
    height: 82px;
    border-radius: 16px;
    border: none;
}