:root {    
    --color-blue: #274C5B;   
    --color-gray: #525C60;    
    --color-green:#7EB693; 
    --color-yellow: #EFD372;
      
    --font-roboto: 'Roboto';
    --font-yellowtail: 'Yellowtail';
    --font-worksans: 'Work Sans';
    }